html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
margin: 0;
}

h1,h2,h3,h4,p{
  margin: 0;
}

ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }


.container{
  width: 480px;
  padding: 0 15px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px dashed #f44336;
}

.mark-up{
background-color: teal;  
}

.overlay{
  max-width: 1600px;
  height: 500px;
  background: teal;
  outline: solid 1px tomato;
}